body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.game {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}
.square:focus {
  outline: none;
}
.group-square{
  margin-left:450px;
}
.game-info {
  margin-left: 20px;
  margin-top:30px;
}
.reset button{
  background-color: red;
  color:white;
  font-size: 20px;
  width:140px;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}
