body {
  font: 24px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}
.title{
  color:#062700;
  text-align: center;
  margin-left:300px;
  font-size: 54px;
  margin-bottom: 50px;
  margin-top: -60px;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #efffec;
  border: 2px solid #1ec400;
  float: left;
  font-size: 94px;
  font-weight: bold;
  color:#062700;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square--green {
  background: green;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 30px;
  margin-top:80px;
}

.button {
  background-color: #062700; /* Green */
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width:210px
}

.button--green {
  background-color: #4caf50;
  color: #000;
  font-weight: bold;
  width:210px
}
.group-square{
  margin-left:250px;
}
.reset button{
  background-color: red;
  color:white;
  font-size: 20px;
  text-align: center;
  width:120px;
  margin-left: 20px;
  margin-top: 30px;
}
