body {
  font: 24px 'Comic Sans MS', Futura, sans-serif;
  margin: 20px;
}
ol,
ul {
  padding-left: 30px;
}
.game {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.square {
  background: #efffec;
  border: 2px solid #1ec400;
  float: left;
  color:#062700;
  font-size: 80px;
  font-weight: 500;
  line-height: 34px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}
.square:focus {
  outline: none;
}
.group-square{
  margin-left:200px;
}
.game-info {
  margin-left: 20px;
  margin-top:40px;
}
.reset button{
  background-color: red;
  color:black;
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  width:80px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 40px;
}
.button {
  background-color: #062700; /* Green */
  border: none;
  color: #fff;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 8px;
  width:220px
}

.button--green {
  background-color: #4caf50;
  color: #000;
  font-weight: bold;
  width:220px
}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

